<!DOCTYPE html>
{% import "bootstrap/wtf.html" as wtf %}
<html lang="en">
	<head>
		<style>
			.h1,
			.h2,
			.h3,
			h1,
			h2,
			h3 {
				margin-top: 1px;
				margin-bottom: 1px;
			}
		</style>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
		/>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"
		></script>

		{#
		<script
			crossorigin
			src="https://unpkg.com/react@17/umd/react.development.js"
		></script>
		<script
			crossorigin
			src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"
		></script>
		#}
		<script
			crossorigin
			src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
		></script>
		{#
		<script
			crossorigin
			src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"
		></script>
		#}

		<title>{% block title%}{% endblock %}</title>

		{% block head %}{% endblock %}
	</head>

	<header class="text-dark container-fluid">
		<nav class="navbar navbar-light bg-light navbar-fixed container-fluid">
			<div class="container-fluid">
				<a class="navbar-brand container-fluid col-11" href="/"><h3></h3></a>
				<button
					class="navbar-toggler container-fluid col-1"
					type="button"
					data-bs-toggle="offcanvas"
					data-bs-target="#offcanvasNavbar"
					aria-controls="offcanvasNavbar"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div
					class="offcanvas offcanvas-end"
					tabindex="-1"
					id="offcanvasNavbar"
					aria-labelledby="offcanvasNavbarLabel"
				>
					<div class="offcanvas-header">
						<h5 class="offcanvas-title" id="offcanvasNavbarLabel">
							MJ Inventory Tool
						</h5>
						<button
							type="button"
							class="btn-close text-reset"
							data-bs-dismiss="offcanvas"
							aria-label="Close"
						></button>
					</div>
					<div class="offcanvas-body">
						<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="/">Home</a>
							</li>
							<li class="nav-item dropdown">
								<a
									class="nav-link dropdown-toggle"
									href="#"
									id="offcanvasNavbarDropdown"
									role="button"
									data-bs-toggle="dropdown"
									aria-expanded="false"
								>
									Add New Record
								</a>
								<ul
									class="dropdown-menu"
									aria-labelledby="offcanvasNavbarDropdown"
								>
									<li>
										<a class="dropdown-item" href="/intake" id="intakeModal"
											>Intake</a
										>
									</li>
									<li>
										<a class="dropdown-item" href="/sale" id="saleModal">Sale</a>
									</li>
									<li>
										<a class="dropdown-item" href="/payment" id="sampleModal"
											>Payment</a
										>
									</li>
									<li>
										<a class="dropdown-item" href="/sample" id="sampleModal"
											>Sample</a
										>
									</li>
									<li>
										<hr class="dropdown-divider" />
									</li>
									<li><a class="dropdown-item" href="#"> See All Records (coming soon)</a></li>
								</ul>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/inventory">Inventory</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/sale_all">Sales</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/sample">Samples</a>
							</li>
							<li class="nav-item dropdown">
								<a
									class="nav-link dropdown-toggle"
									href="#"
									id="offcanvasNavbarDropdown"
									role="button"
									data-bs-toggle="dropdown"
									aria-expanded="false"
								>
									External Partners
								</a>
								<ul
									class="dropdown-menu"
									aria-labelledby="offcanvasNavbarDropdown"
								>
									<li><a class="dropdown-item" href="/customer">Customers</a></li>
									<li><a class="dropdown-item" href="/vendor">Vendors</a></li>
								</ul>
							</li>
							<hr class="dropdown-divider" />
							<li class="nav-item">
								<a class="nav-link" href="#">Reporting</a>
							</li>
							<li class="nav-item dropdown">
								<a
									class="nav-link dropdown-toggle"
									href="#"
									id="offcanvasNavbarDropdown"
									role="button"
									data-bs-toggle="dropdown"
									aria-expanded="false"
								>
									Administrative Activity
								</a>
								<ul
									class="dropdown-menu"
									aria-labelledby="offcanvasNavbarDropdown"
								>
									<li>
										<a class="dropdown-item" href="/staff/">Staff and Brokers</a>
									</li>
									<li>
										<a href="mailto:njbsanchez@gmail.com?subject=Feature Request: MJ Inventory Tool"> Feature Requests</a>
									</li>
									
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<body>
		{% block body %} {% endblock %} {% block after_body%}
		{% include 'footer.html' %}
		{% endblock %}
		
	</body>
</html>
