<!DOCTYPE html>

<html>
	<head>
		<style>html{visibility: hidden;opacity:0;}</style>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

		<title>Inventory site</title>
  	</head>
	<body>
		<header>
		<navbar>
				<h2>Navigation</h2>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/intake">Record Intake</a></li>
					<li><a href="/sale">Record Sale</a></li>
					<li><a href="/record_sample">Record Sample</a></li>
					<li><a href="/inventory">Current Inventory</a></li>
					<li><a href="/product">Manage Product</a></li>
					<li><a href="/entity">Manage Entities</a></li>
					<li><a href="/staff">Manage Staff</a></li>
					<li><a href="#">Export (Coming Soon)</a></li>

				</ul>

				{% for msg in get_flashed_messages() %}
				<p class="flash-msg">{{ msg }}</p>
				{% endfor %} {% block body %} {% endblock %} {%block after_body%} {%
				endblock %}
			</navbar>
		</header>
		<main>
		</main>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	</body>

</html>
