<br><br>
<div id="footer">
    {% block footer %}
    <br>
    <hr>
    <div class="row" width="100%" style="padding:30px;">
        <div class="col-sm-6 pull-left">
            <p class="text-muted"><small>&copy; 2021 NJB </small></p>
        </div>
        <div class="col-sm-6">
            <div class="pull-right">
                <p class="text-muted"><small><a href="https://github.com/njbsanchez/inventory_app">Inventory Tracker • developer version 0.0.1-alpha</a></small></p>
            </div>
        </div>
    </div>
    {% endblock %}
</div>