{% extends 'base.html' %} {% block title %}Home{% endblock %} 

<body>
{% block body%}

<div class="container border-dark p-50">
<p>
</p>
</div>
<div class="container border-dark p-50">
	<h1>hello</h1>
	<h4>some words heresome words heresome words heresome words heresome words heresome words heresome words heresome words heresome words heresome words heresome words heresome words heresome words heresome words heresome words heresome words heresome words heresome words heresome words heresome words heresome words heresome words heresome words heresome words heresome words heresome words heresome words heresome words heresome words here</h4>
</div>
<div class="container border-dark p-50">
<p>
</p>
</div>
<div class="container border-dark p-50">
	<h3>Quick Start</h3>
	<h5>Navigate below to record new activity to inventory.</h5>
	<div class="row row-cols-1 row-cols-md-2 g-4 border-dark">
		<div class="col-sm-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Record New Intake</h5>
					<p class="card-text">
						Recieved new shipment of product? Create a new intake record.
					</p>
					<button
						type="button"
						class="btn btn-add"
						data-toggle="modal"
						data-target="#saleModal"
					>
						<span class="btn-icon-add"
							><i class="glyphicon glyphicon-plus"></i></span
						>Add Sale
					</button>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Record New Sale</h5>
					<p class="card-text">
						Customer purchase = New Sale! Log a new sale invoice here.
					</p>
					<a href="/sale" class="btn btn-primary">Log New Sale</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Record New Sample</h5>
					<p class="card-text">
						Sample Check-Out or Samples Returned? Record movement here.
					</p>
					<a href="/sample/" class="btn btn-primary">Track Sample Movement</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container border-dark p-50">
<p>
</p>
</div>

<div class="container border-dark p-50">
	<div class="row row-cols-1 row-cols-md-2 g-4 border-dark">
		<div class="col-12">
			<div class="row">
				<h5 class="card-title">Latest Sales</h5>
				<p class="card-text">
					Check out these recently logged Sales!
				</p>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Date</th>
							<th>Invoice</th>
							<th>Customer</th>
							<th>Items Purchased</th>
							<th>Sale Amount</th>
						</tr>
					</thead>
					<tbody>
						{% for sale in latest_sales %}
						<tr>
							<td>{{ sale.date }}</td>
							<td>{{ sale.invoice_no }}</td>
							<td>{{ sale.entity_id }}</td>
							<td>{{ sale.items }}</td>
							<td>{{ sale.get_subtotal_sum() }}</td>
							<td>
								<a href="/sale_record/{{ sale.id }}">See Details</a>
							</td>
						</tr>
						{%endfor%}
					</tbody>
				</table>
			</div>
			<p></p>
			<div class="row">
				<h5 class="card-title">Recently Added Inventory</h5>
				<p class="card-text">
					Check out these recently added Inventory!
				</p>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Date</th>
							<th>Product Name</th>
							<th>SKU</th>
							<th>Contact Name</th>
							<th>Unit Count</th>
							<th>Price/Unit</th>
						</tr>
					</thead>
					<tbody>
						{% for intake in latest_intakes %}
						<tr>
							<td>{{ intake.date }}</td>
							<td>{{ intake.product.product_name }}</td>
							<td>{{ intake.sku }}</td>
							<td>{{ intake.entity.contact_name }}</td>
							<td>{{ intake.initial_unit_count }}</td>
							<td>{{ intake.cost_per_unit }}</td>
						</tr>
						{%endfor%}
					</tbody>
				</table>
				<a href="/intake">See all Intake Records</a>
			</div>
			<p></p>
			<div class="row">
				<h5 class="card-title">Pending Broker Fees</h5>
				<p class="card-text">
					See below for outstanding broker fees that have yet to be paid.
				</p>
				
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Sale Records</th>
							<th>Amount Earned</th>
							<th>Amount Paid</th>
						</tr>
					</thead>
					<tbody>
						{% for broker in broker_info.keys() %}
						<tr>
							<td>{{ broker.staff_name }}</td>
							<td>{{ broker.sales }}</td>
							<td>{{ broker_info[broker]["fee_total"] }}</td>
							<td>{{ broker_info[broker]["fee_paid"] }}</td>
							<td>{{ broker_info[broker]["fee_unpaid"] }}</td>
						</tr>
						{%endfor%}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock %}
</body>
