<!DOCTYPE html>
{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block
head%}

<style>
	hr {
		margin-top: 1rem;
		margin-bottom: 1rem;
		width: 100%;
		border: 100%%;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		padding-right: -30px;
		}
	div.customer {
		border: 1px solid rgba(0, 0, 0, 0.1);
		padding-right: -30px;
	}
	td, th {
		border: 1px solid #dddddd;
		text-align: left:
		padding: 8px;
		}
	div.sample {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}

</style>
<script src="/static/js/modals.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<link
	rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %} {% block title %} Sale {% endblock %} {% block body %}

<div class="row-12" style="text-align:center">
<img src="https://i.postimg.cc/pdsKMRCB/heading-1.png" class:"center" width:"100%">
</div>


<div class="container">
	<h1 class="text-center"><b>Sale Record</b><h1>
	<h5 class="text-center">Edit Sale Details • Edit Vendor Details</b></h5>
	<hr/>
</div>


<div class="container">
	<div class="row row-cols-1 row-cols-md-2 g-4 border-dark">
		<div class="col-lg-2">
			<svg xmlns="http://www.w3.org/2000/svg" width="160" height="160" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
				<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
			</svg>
		</div>
		<div class="col-lg-10">
			<h2><b>Invoice: {{ sale_instance.invoice_no }}</b></h2>
			<h4><b>Customer: {{ entity_info.company_name }} - {{ entity_info.contact_name }} </b></h4>
			<h4>Purchase Date: {{ sale_instance.date }} </h4>
			<h4>Handler: {{ sale_instance.staff.staff_name }} </h4>

		</div>
	</div>
	<div class="row row-cols-1 row-cols-md-2 g-4 border-dark">
		<div class="col-lg-8">
		<h2>Staff/Seller: {{ staff_info.staff_name }} </h2>
		<h2>Notes on Sale:</h2>
		<p> Discount/Premium Percentage applied to all items: {{ sale_instance.prem_disc_percentage }} %</p>
		</div>
		<div class="customer col-lg-4">
			<h4>Customer Details</h4>
			<hr/>
			<h5>Contact: {{ entity_info.contact_name }}</h5>
			<h5>Company: {{ entity_info.company_name }}</h5>
			<h5> Email: {{ entity_info.email }}</h5>
			<h5> Phone: {{ entity_info.phone }}</h5>
			<h5> Notes on Customer: {{  entity_info.notes }}</h5>
		</div>
		</div>
		<p></p>
		<div>
			<h3 style="display: inline-block; margin: 0">Sale Items</h3>
			<button
				type="button"
				class="btn btn-add"
				data-toggle="modal"
				data-target="#saleModal1"
			>
				<span class="btn-icon-add"><i class="glyphicon glyphicon-plus"></i></span
				>Add Item to Sale Record
			</button>
		</div>

	<!-- add Modal code here-->
	<div
		class="modal fade"
		id="saleModal1"
		tabindex="-1"
		role="dialog"
		aria-labelledby="saleModalLabel"
		aria-hidden="true"
		style="margin-top: 150px"
	>
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" id="exampleModalLabel">Add Sale Item</h3>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form
					class="form-additem form form-horizontal"
					method="post"
					role="form"
				>
					<div>
						<h2 class="form-addEntity-heading">Add Item</h2>
						{{ form.hidden_tag() }} {{ wtf.form_errors(form, hiddens="only") }}
						<div class="form-group required">
							<label class="control-label" for="product_id">Product Name</label>
							<p></p>
							{{ form.product_id }}
							<p></p>
						</div>
						<div class="form-group required">
							<label class="control-label" for="product_id">Product SKU</label>
							<p></p>
							{{ form.sku }}
							<p></p>
						</div>
						{{ wtf.form_field(form.quantity)}} 
					</div>
					<div class="modal-footer">
						<div>{{ form.itemsubmit(class='btn btn-primary btn-next') }}</div>
						<button
							type="button"
							class="btn btn-secondary"
							data-dismiss="modal"
						>
							Close
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--end of modal-->

	<table class="table table-hover">
		<thead>
			<tr>
				<th>SKU</th>
				<th>Product</th>
				<th>Price Per Unit (inclusive of Disc/Prem)</th>
				<th>Quantity</th>
				<th>Item Sub-Total</th>
			</tr>
		</thead>
		<tbody>
			{% for p in details %}
			<tr>
				<td>{{ p.intake_instance.sku }}</td>
				<td>{{ p.product.product_name }}</td>
				<td>{{ p.intake_instance.selling_price * ((100 + sale_instance.prem_disc_percentage) / 100) }}</td>
				<td>{{ p.quantity }}</td>
				<td>{{ p.subtotal }}</td>
			</tr>
			{%endfor%}
		</tbody>
	</table>
	<p></p>
	<p></p>
	<h2>Item Sub-total: {{ sale_instance.get_subtotal_sum() }}</h2>
	<h2>Wiring Fee: {{ sale_instance.wiring_fee }}</h2>
	<h1>Total: {{ sale_instance.get_receipt_total() }} </h1>

	
</div>
{% endblock %}
