<!DOCTYPE html>
{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %}

<head>
	{% block title %} Sale {% endblock %}
	
</head>
<header></header>
<body>
	{% block body %}

	<script src="/static/js/modals.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

	<div class="row-12" style="text-align:center">
	<img src="https://i.postimg.cc/pdsKMRCB/heading-1.png" class:"center" width:"100%">
	</div>

	<div class="container">
		<h1 style="text-align:center"><b>All Sale Transactions</h1>
		<div style="text-align:center">
			<button
				type="button"
				class="btn btn-add"
				data-toggle="modal"
				data-target="#saleModal1"
			>
				<span class="btn-icon-add"
					><i class="glyphicon glyphicon-plus"></i></span
				>Add Sale
			</button>
		</div>

		<!-- Sale Modal code here-->
		<div
			class="modal fade"
			id="saleModal1"
			tabindex="-1"
			role="dialog"
			aria-labelledby="saleModalLabel"
			aria-hidden="true"
			style="margin-top: 10px"
		>
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="saleModalLabel">Add Sale</h3>
						<p></p>
						<button
							type="button"
							class="close"
							data-dismiss="modal"
							aria-label="Close"
						>
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form
						class="form-addsale form form-horizontal"
						method="post"
						role="form"
					>
						<div class="container-fluid">
							<h2 class="form-addEntity-heading">Add Sale</h2>
							{{ form.hidden_tag() }} {{ wtf.form_errors(form, hiddens="only")
							}} {{ wtf.form_field(form.invoice_no) }} {{
							wtf.form_field(form.date)}}
							<div class="form-group required p-2">
								<label class="control-label" for="premdisc"
									>Select Premium or Discount Rate
								</label>
								<p></p>
								{{ form.prem_disc}}
								<p></p>
							</div>
							{{wtf.form_field(form.wiring_fee) }}
							<div class="form-group required p-2">
								<label class="control-label" for="entity">Customer Name</label>
								<p></p>
								{{ form.entity }}
								<p></p>
							</div>
							<div class="form-group required p-2">
								<label class="control-label" for="staff">Seller/Staff</label>
								<p></p>
								{{ form.staff_id }}
								<p></p>
							</div>
							{{ wtf.form_field(form.broker_fee) }}
							<div class="form-group required">
								<label class="control-label" for="staff"
									>Has Broker Fee been paid out?</label
								>
								<p></p>
								{{ form.broker_fee_paid }}
								<p></p>
							</div>
							{{ wtf.form_field(form.notes) }}
						</div>
						<div class="modal-footer">
							<div>{{ form.salesubmit(class='btn btn-primary') }}</div>
							<button
								type="button"
								class="btn btn-secondary"
								data-dismiss="modal"
							>
								Close
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!--end of modal-->

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Date</th>
					<th>Invoice</th>
					<th>Customer</th>
					<th>Seller</th>
					<th>Sale Receipt</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for p in details %}
				<tr>
					<td>{{ p.date}}</td>
					<td>{{ p.invoice_no}}</td>
					<td>{{ p.entity.contact_name}}</td>
					<td>{{ p.staff.staff_name}}</td>
					<td>${{ p.get_receipt_total() }}</td>
					<td>
						<a href="/sale/{{ p.id }}" class="btn btn-primary">Details</a>
						<a href="#" style="background-color:red;" class="btn btn-primary">Delete</a>
					</td>
				</tr>
				{%endfor%}
			</tbody>
		</table>
	</div>

	{% endblock %}
	
</body>
