<!DOCTYPE html>
{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block
head%}
<style></style>
<script src="/static/js/modals.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<link
	rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %} {% block title %} Sample {% endblock %} {% block body %}

<div class="container">
	<h1>Sample</h1>
	<div>
		<h3 style="display: inline-block; margin: 0">Add Sample</h3>
		<button
			type="button"
			class="btn btn-add"
			data-toggle="modal"
			data-target="#SampleModal1"
		>
			<span class="btn-icon-add"><i class="glyphicon glyphicon-plus"></i></span
			>Add Sample
		</button>
	</div>

	<!-- add Modal code here-->
	<div
		class="modal fade"
		id="SampleModal1"
		tabindex="-1"
		role="dialog"
		aria-labelledby="SampleModalLabel"
		aria-hidden="true"
		style="margin-top: 150px"
	>
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" id="exampleModalLabel">Add Sample</h3>
					<button
						type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"
					>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form
					class="form-addSample form form-horizontal"
					method="post"
					role="form"
				>
					<div>
						<h2 class="form-addEntity-heading">Add Sample</h2>
						{{ form.hidden_tag() }} {{ wtf.form_errors(form, hiddens="only") }}
						{{ wtf.form_field(form.record_no) }}
						{{ wtf.form_field(form.date) }} 
						<div class="form-group required">
							<label class="control-label" for="entity">Customer Name</label>
							<p></p>
							{{ form.entity }}
							<p></p>
						</div>
						<div class="form-group required">
							<label class="control-label" for="entity">Sample Check Out or Sample Return?</label>
							<p></p>
							{{ form.movement }}
							<p></p>
						</div>
						<div class="form-group required">
							<label class="control-label" for="staff">Seller/Staff</label>
							<p></p>
							{{ form.staff_id }}
							<p></p>
						</div>
						{{ wtf.form_field(form.notes) }} 
					</div>
					<div class="modal-footer">
						<div>{{ form.samplesubmit(class='btn btn-primary') }}</div>
						<button
							type="button"
							class="btn btn-secondary"
							data-dismiss="modal"
			
						>
							Close
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--end of modal-->


	<table class="table table-hover">
		<thead>
			<tr>
				<th>Date</th>
				<th>Record Number</th>
				<th>Customer</th>
				<th>Seller</th>
			</tr>
		</thead>
		<tbody>
			{% for p in details %}
			<tr>
				<td>{{p.date}}</td>
				<td>{{p.record_no}}</td>
				<td>{{p.entity_id}}</td>
				<td>{{p.staff_id}}</td>
				<td>
					<button
						type="button"
						class="btn btn-edit"
						data-toggle="modal"
						data-target="#"
					>
						<span class="btn-icon"
							><i class="glyphicon glyphicon-pencil"></i></span
						>Edit (coming soon!)
					</button>
				</td>
			</tr>
			{%endfor%}
		</tbody>
	</table>
</div>
{% endblock %}
