<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{% endblock %}

{% block title %} Log In {% endblock %}

{% block content %}
	<div class="container">
		<form class="form-signin" method="POST">
			<h2 class="form-signin-heading">Please Sign In</h2>
			{{ form.hidden_tag() }}
            {{ wtf.form_field(form.email) }}
			{{ wtf.form_field(form.username) }}
			{{ wtf.form_field(form.password) }}
			<button class="btn-lg btn-primary btn-block" type="submit">Sign Up</button>
		</form>
	</div>

{% endblock %}

